@font-face {
    font-family: 'Avenir';
    src: url('https://cdn.jsdelivr.net/gh/shafi-cor/public@main/Avenir-Book.ttf');
    src: url('https://cdn.jsdelivr.net/gh/shafi-cor/public@main/Avenir-Book.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/shafi-cor/public@main/Avenir-Book.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/shafi-cor/public@main/Avenir-Book.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
} 